/*Stylesheet for overall website aesethic*/

nav {
    text-align: center;
    overflow: hidden;
    border-top: black;
    border-width: 200px;
}

nav ul li {
    display: inline;
    padding: .2em 1em; /*T and B, L and R*/
    font-size: 1.35em;
}

a {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-family: inter, serif;

}

p {
    font-family: sans-serif;
}

body {
    background: #E7ECEF;
}

.alike-regular {
    font-family: "Alike", serif;
    font-weight: 400;
    font-style: normal;
  }  
  
.inter-bodytext {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


footer{
    text-align: center;
    padding: 1em;
    margin: 1em 0em;
    line-height: 1.1em;
    color: #E7ECEF;
    clear: both;
    background-color: #A3CEF1;
}
